streamlit
python-dotenv
pdfplumber
pytesseract
pdf2image
Pillow

sentence-transformers>=3.0.0
transformers>=4.45.0
torch>=2.5.1

faiss-cpu>=1.8.0

langchain>=0.2.0
langchain-community>=0.2.10
langchain-text-splitters

google-generativeai 
gTTS
deep-translator
tiktoken
pymupdf

sarvamai
